{% extends "frontend/shared/page_wrapper.jinja" %}

{% block head %}
<title>Radioguard</title>
{% endblock %}

{% block body %}
<div class="flex w-full flex-row">
    <div class="w-full min-h-screen card bg-base-300 rounded-box prose max-w-none">{{left}}</div>
    <div class="divider divider-horizontal"></div>
    <div class="w-full min-h-screen card bg-base-300 rounded-box prose max-w-none">{{right}}</div>
</div>
{% call super() %}
{% endblock %}
