{% extends "frontend/shared/page_wrapper.jinja" %}

{% block head %}
<title>Radioguard</title>
<link rel="stylesheet" type="text/css" href="/dist/diff2html.min.css" />
<script type="text/javascript" src="/dist/diff2html-ui.min.js"></script>
<style>
    .d2h-info {
        display: none;
    }
</style>
<script>
    var map = {{ map }};
    function handle_line_click(self, line) {
        line++;

        let side_block = self.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
        let files_diff = side_block.parentElement;

        let side = "Right";
        if (files_diff.firstElementChild == side_block) {
            side = "Left";
        }

        let file_name = files_diff.parentElement.querySelector(".d2h-file-name").textContent;

        if (map[file_name] === undefined) {
            console.warn(map, file_name);
            return;
        }
        if (map[file_name][side] === undefined) {
            console.warn(map, file_name, side);
            return;
        }
        if (map[file_name][side][line] === undefined) {
            console.warn(map, file_name, side, line);
            return;
        }
        let id = map[file_name][side][line];
        window.location.href = `/steps/${id}/${id}`;
    }
</script>
{% endblock %}

{% block body %}
<div id="destination-elem-id"></div>
<script>
    const targetElement = document.getElementById('destination-elem-id');
    const configuration = {
        drawFileList: false,
        matching: 'none',
        fileContentToggle: false,
        outputFormat: 'side-by-side',
        renderNothingWhenEmpty: false,
        colorScheme: 'dark',
        rawTemplates: {{ raw_templates }}
    };
    const diff2htmlUi = new Diff2HtmlUI(targetElement, `{{diff}}`, configuration);
    diff2htmlUi.draw();
</script>
{% call super() %}
{% endblock %}
