{% extends "frontend/shared/page_wrapper.jinja" %}

{% block head %}
<title>Radioguard</title>
{% endblock %}

{% block body %}
<div id="destination-elem-id"></div>
<script>
    const targetElement = document.getElementById('destination-elem-id');
    const configuration = {
        drawFileList: false,
        matching: 'none',
        fileContentToggle: false,
        outputFormat: 'side-by-side',
        renderNothingWhenEmpty: false,
        colorScheme: 'dark'
    };
    const diff2htmlUi = new Diff2HtmlUI(targetElement, `{{diff}}`, configuration);
    diff2htmlUi.draw();
</script>
{% call super() %}
{% endblock %}
