{% extends "frontend/shared/page_wrapper.jinja" %}

{% block head %}
<title>Radioguard</title>
{% endblock %}

{% block body %}
<div class="w-[90vw] h-[90vh] mx-auto mt-2">
    <div class="tabs tabs-boxed justify-center">
        {% for e in list %}
        <a href="#{{e.unique_id}}" class="tab tab-active">{{e.cta}}</a>
        {% endfor %}
    </div>
    <div class="w-full h-full overflow-auto">
        <div class="carousel w-full">
            {% for e in list %}
            <div id="{{e.unique_id}}" class="carousel-item w-full">
                <img src="{{e.data_uri}}" class="{{e.img_css}} w-full">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function toggle_tab_highlight(unique_id) {
        let href = `#${unique_id}`;
        let first_a_child = document.querySelector("a:first-child");
        let a = document.querySelector(`a[href='${href}']`);
        if (window.location.hash === href || (a === first_a_child && !window.location.hash)) {
            a.classList.add("tab-active");
        } else {
            a.classList.remove("tab-active");
        }

    }
    function toggle_tab_highlights() {
        {% for e in list %}
        toggle_tab_highlight('{{e.unique_id}}');
        {% endfor %}
    }
    window.addEventListener("load", toggle_tab_highlights);
    window.addEventListener("hashchange", toggle_tab_highlights);
</script>
{% call super() %}
{% endblock %}
