<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radioguard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥽</text></svg>">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>

<body>
    <input type="text" placeholder="Type here" class="input w-full max-w-xs" list="runs" />
    <datalist id="runs">
        {% for run_date_time in run_date_times %}
        <option>{{run_date_time}}</option>
        {% endfor %}
    </datalist>
</body>

</html>
