<div class="flex flex-col items-center p-2">
    <h1>Choose a Test Case</h1>
    <div>
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created At</th>
                        <th>Tags</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for test_case in test_cases %}
                    <tr>
                        <th>{{test_case.0.id}}</th>
                        <th>{{test_case.0.name}}</th>
                        <th>{{test_case.0.created_at}}</th>
                        <th>
                            {% for tag in test_case.0.tags %}
                            <div class="badge badge-outline">{{tag.value}}</div>
                            {% endfor %}
                        </th>
                        <th>
                            <a href="?{{test_case.1}}" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
